In [2]:
import camelot as cm

In [3]:
! ls

Extracting Table from PDF - UN HDI Report.ipynb
README.md
hacker-news_scrapper.py
india_factsheet_economic_n_hdi.pdf
pdf_format.py
table_from_pdf.csv
table_from_pdf.xlsx
ted_talk_downloader.py

In [4]:
#"stream", "lattice"

In [5]:
input_pdf = cm.read_pdf("india_factsheet_economic_n_hdi.pdf", flavor='lattice',pages='1,2')

In [6]:
input_pdf

In [7]:
for n in input_pdf:
    print(n)

<Table shape=(4, 3)>
<Table shape=(15, 3)>
<Table shape=(14, 4)>
<Table shape=(13, 3)>

In [8]:
input_pdf[2].df

,0,1,2,3
0,Human Development Indicators,,2000,2011
1,13,Human Development Index Value (HDI),0.461,0.547
2,14,HDI Rank (out of 187),,134
3,15,Inequality Adjusted Human Development Index Value,,0.392
4,16,Loss in HDI due to Inequalities (%),,28.7
5,,,2001,2011
6,17,Gender Inequality Index (GII),0.5531,0.617
7,18,GII Rank (out of 146),,129
8,,,1996,2006
9,19,Gender Empowerment Measure (GEM),0.416,0.497
10,,,2001,2011
11,20,Literacy Rate (%),64.8,74.04
12,21,Male Literacy Rate (%),75.3,82.14
13,22,Female Literacy Rate (%),53.7,65.46

In [13]:
df = input_pdf[2].df.loc[11:14,1:3]

In [14]:
df

                           1     2      3
11         Literacy Rate (%)  64.8  74.04
12    Male Literacy Rate (%)  75.3  82.14
13  Female Literacy Rate (%)  53.7  65.46

In [16]:
df = df.reset_index(drop = True)

In [17]:
df

                          1     2      3
0         Literacy Rate (%)  64.8  74.04
1    Male Literacy Rate (%)  75.3  82.14
2  Female Literacy Rate (%)  53.7  65.46

In [18]:
df.columns = ['KPI', '2001', '2011']

In [19]:
df

                        KPI  2001   2011
0         Literacy Rate (%)  64.8  74.04
1    Male Literacy Rate (%)  75.3  82.14
2  Female Literacy Rate (%)  53.7  65.46

In [20]:
df.loc[:,['2001', '2011']] = df.loc[:,['2001', '2011']].astype(float)

In [21]:
df

                        KPI  2001   2011
0         Literacy Rate (%)  64.8  74.04
1    Male Literacy Rate (%)  75.3  82.14
2  Female Literacy Rate (%)  53.7  65.46

In [23]:
df.to_csv('packt_output.csv')

In [24]:
! ls

Extracting Table from PDF - UN HDI Report.ipynb
README.md
hacker-news_scrapper.py
india_factsheet_economic_n_hdi.pdf
packt_output.csv
pdf_format.py
table_from_pdf.csv
table_from_pdf.xlsx
ted_talk_downloader.py

In [25]:
df.to_excel('packt_output_excel.xlsx')

In [26]:
!ls

Extracting Table from PDF - UN HDI Report.ipynb
README.md
hacker-news_scrapper.py
india_factsheet_economic_n_hdi.pdf
packt_output.csv
packt_output_excel.xlsx
pdf_format.py
table_from_pdf.csv
table_from_pdf.xlsx
ted_talk_downloader.py

In [27]:
import pandas as pd

In [28]:
df2 = pd.read_csv('packt_output.csv')
df2

   Unnamed: 0                       KPI  2001   2011
0           0         Literacy Rate (%)  64.8  74.04
1           1    Male Literacy Rate (%)  75.3  82.14
2           2  Female Literacy Rate (%)  53.7  65.46